// .all-restaurants {
//   display: grid;
//   grid-template-columns: repeat(3, 33%);
//   column-gap: 10px;
//   row-gap: 30px;
//   place-self: center;

// }

// .container-card {
//   background-color: blue;
//   height: 240px;
//   width: 280px;

//   border: solid 2px black;
// }


.banner {
  background-color: #FCEFEE;
  height: 35px;
  p {
    display:flex;
    color: #DE3E51;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    height: 100%;
  }
}

.tab {
  margin: 10px 32px;
  font-size: 14px;
  color: #b9b8b8;
}

.category-name {
  text-align: center;
  margin-top: 35px;
  h1 {
    margin-bottom: 35px;
  }
}

.category-clothes {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  justify-content: center;
  padding: 0px;
  li {
    //margin: 0px 60px;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    border: solid 1px #b9b8b8;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 20px;
    border-radius: 22px;
    margin: 7px 12px;
  }
}

.new-clothes {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
    margin-left: 14px;
    display:flex;
    align-items: center;
    margin-bottom: 0px;
    color: #DE3E51;
  }
}

.clothes {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  margin-left: 14%;
  img {
    margin-top: 12px;
    display: flex;
    width: 150px;
    height: 170px;
    object-fit: cover;
  }
}
