// .all-restaurants {
//   display: grid;
//   grid-template-columns: repeat(3, 33%);
//   column-gap: 10px;
//   row-gap: 30px;
//   place-self: center;

// }

// .container-card {
//   background-color: blue;
//   height: 240px;
//   width: 280px;

//   border: solid 2px black;
// }

.banner {
  background-color: #FCEFEE;
  height: 35px;
  p {
    display:flex;
    color: #DE3E51;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    height: 100%;
  }
}

.tab {
  margin: 10px 32px;
  font-size: 14px;
}

.category-name {
  text-align: center;
  margin-top: 35px;
  h1 {
    margin-bottom: 35px;
  }
}

.category-clothes {
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 0px 60px;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 20px;
    border-radius: 22px;
    margin: 7px 12px;
  }
}
