// Specific CSS for your home-page
.grey-top {
  background-color: #F1F1F1;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  p {
    display: flex;
    margin-right: 40px;
    align-items: center;
    height: 100%;
    font-size: 12px;
  }
}

.search {
  display: flex;
  width: 55%;
  padding: 0 9px;
  border-bottom: solid 1px grey;
  height: 37px;
  text-align: center;
  i {
    font-size: 20px;
  }
}

.infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar {
  width: 63%;
}

.head {
  display:flex;
  // width: 90%;
  border-bottom: solid 1px grey;
  padding: 14px 0;
  margin: 0 32px;
}

.icons {
  display: flex;
  width: 37%;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

.last-3 {
  // justify-content: space-evenly;
  // width: 20%;
  justify-content: space-around;
  width: 43%;
  text-align: center;
  display: flex;
}

.menu {
  display: flex;
  border-bottom: solid 1px grey;
  justify-content: space-between;
  padding: 0 57px;
  height: 71px;
}

.choice {
  display: flex;
  align-items: center;
  i {
    align-items: center;
    font-size: 5px;
    margin: 0 20px;
  }
  p {
    margin-bottom: 0px;
    font-size: 16px;
  }
  a {
    color: black;
    text-decoration: none;
    a:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.red-button {
  display: flex;
  background-color: #DE3E51;
  color: white;
  border-radius: 2px;
  align-items: center;
  padding: 0 10px;
  p {
    margin-bottom: 0px;
  }
  a {
    color: white;
    text-decoration: none;
    a:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.image {
  display: flex;
}

.fit-picture {
  display: flex;
  width: 861px;
  height: 450px;
  object-fit: cover;
  margin-left: 55px;
  margin-top: 36px;
}

.color-block {
  display: flex;
  background-color: #6A876D;
  height: 450px;
  width: 465px;
  margin-top: 36px;
  margin-right: 55px;
}

.title {
  width: 100%;
  text-align: justify;
  margin-top: 15%;
  padding: 0 40px;
  color: white;
  p {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 50px;
    font-size: 20px;
  }
}

.button {
  color: white;
  border: solid 1px white;
  background-color: #6A876D;
  padding: 10px 25px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #6A876D;
}

.button:active {
  background-color: white;
}


