<%= render "components/navbar" %>

<div class="image">
  <img class="fit-picture"
       src="https://source.unsplash.com/random"
       alt="Grapefruit slice atop a pile of other slices">
  <div class="color-block">
    <div class="title">
      <h2>Nouveautés</h2>
      <h1>Pirate & Cassis</h1>
      <p>Silhouettes loose et vaporeuses, teintes et imprimés aux accents d’Orient… Sur fond d’exotisme, La Redoute Collections s’évade via un vestiaire à l’esprit folk ce printemps.</p>
      <button class="button" type="button">Je découvre la collection</button>
    </div>
  </div>
</div>






